{% if g.search_background %}
  {% set background = g.search_background %}
{% else %}
  {% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

<div role="main">
  <div class="main hero" style="background-image: url('{{ background }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {% block promoted %}
            {% snippet 'home/snippets/promoted.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6">
          {% block search %}
            {% snippet 'home/snippets/search.html', search_facets=search_facets %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="main module-feeds">
    <div class="container">
        {% block featured_group %}
          {% if h.thai_gdc_get_use_gd_multigroup() and h.thai_gdc_get_group_schemas() != '' %}
          {% set category_dict = h.scheming_group_schemas() %}
          {% endif %}
          {% if category_dict and category_dict.keys()|length %}
            <div class="row module-content box" style="margin: 3px;margin-bottom: 15px;">
            {% snippet 'home/snippets/multi_groups.html', category_dict=category_dict %}
            </div>
          {% else %}
            {% set stats = h.get_site_statistics() %}
            <div class="row">
            {% snippet 'home/snippets/groups.html', stats=stats %}
            </div>
          {% endif %}
        {% endblock %}
    </div>
  </div>
</div>
