{% ckan_extends %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h2 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private badge bg-secondary">
                    <i class="fa fa-lock"></i>
                    {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
    <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" title="{{ title }}">
      {{title|truncate(100)}}
    </a>
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="badge bg-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="badge bg-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {% if package.tracking_summary %}
                  <span class="textRecentViews">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    {{package.tracking_summary.total}} total views
                  </span>
                  <span class="textRecentViews">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    {{package.tracking_summary.recent}} recent views
                  </span>
              {% endif %}
            {% endblock %}
          </h2>
        {% endblock %}
        <div style="text-align: right;">
            {% if package.groups %}
            <div class="blockTagSearch">
            {% for data_groups in package.groups %}
            {% set item_color = h.thai_gdc_get_group_color(data_groups.id) %}
                <a class="aNoBUnder btn" href="{{h.url_for(controller='group', action='read', id=data_groups.name)}}"
                   style="white-space: nowrap;background-color: {{item_color}};color: white;margin:0 5px 5px 0;padding: 3px;font-size:.7em;">
                    {{data_groups.title}}
                </a>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ h.humanize_entity_type('package', package.type, 'no description') or _("There is no description for this dataset") }}</p>
          {% endif %}
        {% endblock %}
      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources list-unstyled">
              {% block resources_inner %}
                  {% set auth_resources=[] %}
                  {% for resource in package.resources %}
                    {% if h.check_access('resource_show', {'id':resource.id }) %}
                      {%- do auth_resources.append({'format': resource.format}) -%}
                    {% endif %}
                  {% endfor %}
                {% for resource in h.dict_list_reduce(auth_resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="badge badge-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
    {% endblock %}
    <div style="margin-top: 8px;">
        <i class="fa fa-building" aria-hidden="true"></i>
        {{ package.organization.title }}
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ h.thai_gdc_day_thai(h.date_str_to_datetime(package.metadata_modified)) }}
    </div>
  </li>
{% endblock %}
